.about-style-one {
	.about-style-one-content {
		span {color: #707070;font-size: 18px;}
		h3 {margin: 0;color: $thm_black;font-size: 40px;font-weight: 600;}
		h2 {font-size: 60px;line-height: 1.12em;color: #FFFFFF;margin: 0;font-weight: normal;}
		p {margin: 0;font-size: 18px;line-height: 36px;margin-top: 30px;}
		a.thm-btn {margin-top: 30px;}
	}
	img.moc-img {margin-top: 35px;}
	&.blue-bg {
		.about-style-one-content {
			span, p {color: #5D567F;}
		}
	}
}

.about-style-two {
	overflow: hidden;
	.about-style-two-content {
		padding-right: 50px;
		span {
            color: #707070;
            font-size: 18px;
        }
        h3 {
            font-size: 40px;
            color: #181818;
            margin: 0;
            font-weight: 600;
            margin-bottom: 30px;
        }
        p {
            font-size: 18px;
            color: #707070;
            line-height: 36px;
            margin: 0;
        }
        ul.list-items {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 40px;
            margin-bottom: 35px;
            li {
                color: #181818;
                font-size: 18px;
                position: relative;
                display: block;
                padding-left: 30px;
                + li {margin-top: 15px;}
                i {
                    color: $thm_base_color;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        }
	}
}

.about-style-three {
    .about-style-three-content {
        h3 {color: $thm_black;font-size: 30px;margin: 0;font-weight: 600;margin-bottom: 40px;}
        p {color: #707070;margin: 0;font-size: 16px;line-height: 30px;}
    }
}